<main class="container">
    <section class="topic-section html-content">
        <h1 class="page-title"><%= t["education.web.html.title"] %></h1>
        <div class="topic-content-container html-layout">        <div class="theory-section">
            <h2 class="topic-title"><%= t["education.web.html.teoria.title"] %></h2>
            <section class="topic-content">
                <div class="topic-item">
                    <ul>
                    <li><a href="/assets/programacion/web/htm_css/teoria/00_html.html" class="topic-link" target="_blank">00_html</a></li>
                    <li><a href="/assets/programacion/web/htm_css/teoria/index.html" class="topic-link" target="_blank">index</a></li>
                    <li><a href="/assets/programacion/web/htm_css/teoria/listas.html" class="topic-link" target="_blank">listas</a></li>
                    <li><a href="/assets/programacion/web/htm_css/teoria/tablas.html" class="topic-link" target="_blank">tablas</a></li>
                    <li><a href="/assets/programacion/web/htm_css/teoria/dialog.html" class="topic-link" target="_blank">dialog</a></li>
                    <li><a href="/assets/programacion/web/htm_css/teoria/grid_1.html" class="topic-link" target="_blank">grid_1</a></li>
                </ul>
            </div>        </section>
        </div>
        <div class="practice-section">
            <h2 class="topic-title"><%= t["education.web.html.practices.title"] %></h2>
            <section class="topic-content">
                <div class="topic-item">
                    <h3 class="topic-title-1"><%= t["education.practice.01"] %></h3>
                    <ul>
                        <li><a href="/assets/programacion/web/htm_css/practicas/1/index.html" class="topic-link" target="_blank">Wiki: Tim Berners-Lee</a></li>
                    </ul>
                    <h3 class="topic-title-1"><%= t["education.practice.02"] %></h3>
                    <ul>
                        <li><a href="/assets/programacion/web/htm_css/practicas/2/cafe_1.html" class="topic-link" target="_blank">cafe</a></li>
                    </ul>
                    <h3 class="topic-title-1"><%= t["education.practice.03"] %></h3>
                    <ul>
                        <li><a href="/assets/programacion/web/htm_css/practicas/3/cuina_divina.html" class="topic-link" target="_blank">cuina divina</a></li>
                    </ul>
            </div>
        </section>
        </div>
    </section>
</main>
